<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <title>Поиск</title>
</head>
<body>
<div id="header">База данных синтаксических конструкций</div>
<div id="value"style="text-align: center">О проекте | Как пользоваться поиском? | Дополнительная литература</div>
<div id="search"><form action="results.html"><input type="search" placeholder="Поиск"><input type="submit"></form></div>
<div id="footer"><a href="http://ling.hse.ru">Высшая Школа Экономики, Школа Лингвистики, 2015</a></div>
</body>
</html>