<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <meta charset="UTF-8">
    <title>НАЗВАНИЕ КОНСТРУКЦИИ</title>
</head>
<body>
<div id="header">название конструкции</div>
<div class="box">
    <table>
        <tr>
            <td>Глагол:</td>
            <td id="value"><a>умереть</a></td>
            <td id="semclass"><a>экзистенциальный</a></td>
        </tr>
        <tr>
            <td>Существительное:</td>
            <td id="value">досада</td>
            <td id="semclass">эмоции</td>
        </tr>
        <tr>
            <td>Падеж:</td>
            <td id="value">родительный</td>
        </tr>
        <tr>
            <td>Предлог:</td>
            <td id="value">от</td>
        </tr>
    </table>
    <div class="construction">
        <div id="verb-class">говноглагол</div>
        <div id="noun-class">говносуществительное</div>
        <div id="case">обвинительный</div>
        <div id="preposition">в</div>
        <div class="example">
            <div id="firstentry">
                <div id="year">1990</div>
                <div id="text">ГОВНОТЕКСТ ГОВНОПРИМЕРА</div>
            </div>
            <div id="lastentry">
                <div id="year">2000</div>
                <div id="text">ГОВНОТЕКСТ-2</div>
            </div>
        </div>
        <div id="bibliography"></div>
    </div>
    <div id="scale">ГОВНОШКАЛА</div>
</div>
<div id="footer">© Высшая Школа Экономики, Школа Лингвистики, 2015</div>
</body>
</html>