<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <meta charset="UTF-8">
    <title>НАЗВАНИЕ КОНСТРУКЦИИ</title>
</head>
<body>
<div id="header">название конструкции</div>
<div class="sidebox">
    <table>
        <tr>
            <td>Глагол:</td>
            <td id="value"><a>умереть</a></td>
        </tr>
        <tr>
            <td>Семантический класс глагола:</td>
            <td id="value"><a>экзистенциальный</a></td>
        </tr>
        <tr>
            <td>Существительное:</td>
            <td id="value"><a>досада</a></td>
        </tr>
        <tr>
            <td>Семантический класс существительного:</td>
            <td id="value"><a>эмоции</a></td>
        </tr>
        <tr>
            <td>Падеж:</td>
            <td id="value"><a>родительный</a></td>
        </tr>
        <tr>
            <td>Предлог:</td>
            <td id="value"><a>от</a></td>
        </tr>
        <tr>
            <td>Первое вхождение:</td>
            <td id="value"><a>1999</a></td>
        </tr>
        <tr>
            <td>Последнее вхождение:</td>
            <td id="value"><a>2000</a></td>
        </tr>
    </table>
</div>
<div class="box">
    <div id="example">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<p id="quotation">Вася Иванов, "Сборник кулстори"</p></div>
    <div id="example">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<p id="quotation">Вася Иванов, "Сборник кулстори"</p></div>
    <div id="example">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<p id="quotation">Вася Иванов, "Сборник кулстори"</p></div>
    <div id="example">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<p id="quotation">Вася Иванов, "Сборник кулстори"</p></div>
</div>
<div id="footer"><a href="http://ling.hse.ru">Высшая Школа Экономики, Школа Лингвистики, 2015</a></div>
</body>
</html>