<html><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<form>
<input type="text" name="ling" value="lingvo">
<br>
<img src="static/one.jpg"> <input type="text" name="qu1" value="?"> <br>
<img src="static/2.jpg"> <input type="text" name="qu2" value="?"> <br>
<img src="static/3.jpg"> <input type="text" name="qu3" value="?"> <br>
<img src="static/4.jpg"> <input type="text" name="qu4" value="?"> <br>
<img src="static/5.jpg"> <input type="text" name="qu5" value="?"> <br>
<img src="static/6.jpg"> <input type="text" name="qu6" value="?"> <br>
<img src="static/7.jpg"> <input type="text" name="qu7" value="?"> <br>
<img src="static/8.jpg"> <input type="text" name="qu8" value="?"> <br>
<input type="submit" name="enter">
</form>
</html>