<html><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
</br>
<p>
<img src="static/one.jpg"> 
{% for i in res0 %}
<h1>{{i}} </h1>
{{ res0[i]}}
{%endfor%}</p>
<img src="static/2.jpg"> 
{% for i in res1 %}
<h1>{{i}} </h1>
{{ res1[i]}}
{%endfor%}</p>
<img src="static/3.jpg"> 
{% for i in res2 %}
<h1>{{i}} </h1>
{{ res2[i]}}
{%endfor%}</p>
<img src="static/4.jpg"> 
{% for i in res3 %}
<h1>{{i}} </h1>
{{ res3[i]}}
{%endfor%}</p>
<img src="static/5.jpg"> 
{% for i in res4 %}
<h1>{{i}} </h1>
{{ res4[i]}}
{%endfor%}</p>
<img src="static/6.jpg"> 
{% for i in res5 %}
<h1>{{i}} </h1>
{{ res5[i]}}
{%endfor%}</p>
<img src="static/7.jpg"> 
{% for i in res6 %}
<h1>{{i}} </h1>
{{ res6[i]}}
{%endfor%}</p>
<img src="static/8.jpg"> 
{% for i in res7 %}
<h1>{{i}} </h1>
{{ res7[i]}}
{%endfor%}</p>
</br>
</body>
</html>